<mjml>
  <mj-body background-color="#fff">
    <mj-section>
      <mj-column>
        <mj-text
          align="center"
          font-weight="bold"
          font-size="35px"
          color="#1f2227"
          >Welcome to Docku!</mj-text
        >
        <mj-image
          width="150px"
          src="https://res.cloudinary.com/biensupernice/image/upload/v1570766134/Sticker_i1xkj4.png"
        />

        <mj-text
          align="center"
          font-weight="400"
          font-size="20px"
          color="#1f2227"
        >
          Click the button below to log in
        </mj-text>

        <mj-button
          href="{magiclink}"
          font-family="Helvetica"
          background-color="#00efbf"
          color="white"
          padding="20px"
          font-weight="600"
          inner-padding="20px 50px"
          font-size="20px"
          border-radius="0px"
        >
          Continue to Docku
        </mj-button>
      </mj-column>
    </mj-section>
  </mj-body>
</mjml>
